# Created by .ignore support plugin (hsz.mobi)
.idea/
.DS_Store
.gitignore

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
FsDet.egg-info
build/
install/
.ipynb_checkpoints/

fsdet/model_zoo/configs
logger-files/

# Save directories and symlinks
exp/
checkpoints/
pretrained/
exp
checkpoints
pretrained

# datasets
datasets/*/*

# configs
configs/*/*

.vscode-upload.json
.mypy_cache
